body {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    width: auto;
    padding:0;
    margin: 0;
}

/* Links for in-page menu */

#anchor1 {

    display: block;
    height: 80px;
    width: 100%;

}

h1 {
    color: #eb5e57;
    text-align: center;
    text-shadow: 2px 4px 3px black;
    margin-bottom: 5%;
}

h2 {
    color: white;
    text-align: center;
    background-color: #404369;
    padding: 1%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

h3 {
    color: #404369;
    text-align: center;
}



/* HEADER */

header {

    position: fixed;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #eb5e57;
    z-index: 1;

}


/* header img {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    margin-left: 100px;

} */


header nav,
.menu nav {

    text-align: center;
    font-size: 1em;


}

.menu nav {
    position: relative;
    top: 5px;
    background-color: #404369;
    padding: 1px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;



}


header nav ul,
.menu nav ul {

    list-style-type: none;
    display: flex;
    padding-left: 0px;
    padding-top: 2%;
}



header nav ul li,
.menu nav ul li {

    margin-left: auto;
    margin-right: auto;


}


.menu nav li a {
    color: white;
    text-decoration: none;
    padding: 0px 5px;
}


header nav li a {

    color: white;
    text-decoration: none;

}

header nav li a:hover {

    color: #404369;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 1.1em;

}


/* FOOTER */


footer {

    left: 0;
    bottom: 0;
    padding-left:0;
    background-color: #DCDCDC;
    color:#404369;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    padding-bottom: 15px;
    width: auto;
}

#footer a {

    text-decoration: none;
    color: #eb5e57;
}

.fa {
    display:inline-block;
    font-size: 25px;
    width: 35px;
    height: 35px;
    padding: 5px;
    text-decoration: none;
    border-radius: 50%;
    margin: 1%;


}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background-color: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background-color: #55ACEE;
    color: white;
}

/* Insta */
.fa-instagram {
    background-color:purple;
    color: white;
}

footer button a {
    color:white;
    text-decoration: none;
    font-size: 1em;
}


/* INTRO */


.banner {
    width: 100%;

}

.intro {
    margin-top: 20px;
    z-index: 2;
}

.intro p {
    text-align:center;
}

.intro a {
    text-decoration: none;
    color: #404369;

}

a.linkTop, div.polaroid a {
    color: #eb5e57;

    text-decoration: none;

    margin-right: 5%;
    margin-bottom: 5%;

}

a.linkTop {
    position: absolute;
    right: 0;
}

a:hover.linkTop, div.polaroid a:hover {
    color: #404369;
    font-size: 1.1em;
}

.intro a:hover {
    text-decoration: none;
    color: #eb5e57;
    font-size: 1.1em;

}

div.content {
    text-align: center;
    margin-bottom: 5%;
}

.content ul {
    text-align:left;
}


.content p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.content div {
    margin-bottom: 5%;
}


img.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 8.5%;
    width: 300px;
    height: 300px;

}

.team {

    margin-left:auto;
    margin-right: auto;

}

div.team div.col {
    margin-left:auto;
    margin-right: auto;

    display:block;
    height: auto;
    width:30%;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    background-color: #404369;
    color: white;

}

div.polaroid {
    margin:auto;
    margin-top: 10%;
    margin-bottom: 0;
    display:block;
    width: 80%;

    background-color:#eb5e57;
    box-shadow: 0 4px 8px 0 rgba(240, 229, 229, 0.2), 0 6px 20px 0 rgba(236, 233, 233, 0.19);
}

div.container {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    color: black;

}

.team img {

    margin-left:auto;
    margin-right:auto;

    width: 250px;




}






.whatWeDo ul,
.partnerships ul,
.support ul, .orientation ul, .volunteerRoles ul, .whyVolunteer ul {
    list-style: none;
    /* Remove default bullets */
}

.whatWeDo ul li::before,
.partnerships ul li::before ,
.support ul li::before, .orientation ul li::before, .volunteerRoles ul li::before, .whyVolunteer ul li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #eb5e57;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1.5em;
    /* Also needed for space (tweak if needed) */

}


.whatWeDo ul li a,
.partnerships ul li a,
.support ul li a, .orientation ul li, .volunteerRoles ul li,  .whyVolunteer ul li {
    text-decoration: none;
    color: #404369;
}


.volunteerwithus li, .volunteerRoles li, .whyVolunteer li {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.editing button {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none ;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 15%;
}

.editing button a {
    text-decoration: none ;
    color: white;
}

.deletebutton {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 25%;
}



/* CONTACT */


#carte {

    position: relative;
    margin-bottom: 50px;
    height: 850px;

}

#carte iframe {

    width: 100%;
    height: 800px;
    opacity: 1;
    border: none;


}


#contact form {

    display: block;
    color: white;
    top: 0;
    right: 0;
    width: 50%;
    height: 85%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 5%;
    background-color: #404369;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 2px #eb5e57;
    border-radius: 5px;


}

#join form, .articles form {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 2px #eb5e57;
    border-radius: 5px;
    width: 50%;
    margin-right:auto;
    margin-left:auto;

}

.article {
    width: 80%;
    margin-left: 0;
    margin-right: 0;
}


#contact h2, #join h2 {
    margin-top: 3%;
    color: white;

}

#address {

    font-size: 15px;

}

input {

    height: 30px;
    width: 100%;
    margin-top: 20px;
    border: solid 1px #DCDCDC;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;

}


textarea {

    height: 5em;
    width: 100%;
    margin-top: 20px;
    border: solid 1px #DCDCDC;
    border-radius: 5px;
    resize: vertical;
    text-align: left;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;

}

textarea.form-control {
    height:3em;
}

input[type=submit] {

    width: auto;
    background-color: #eb5e57;
    color: white;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: solid #404369 4px;
}


select{
    font-size: 0.8em;
}

/* NEWSLETTER */

#newsletter_form
{

    width:100%;
    height:100%;
    background-color: #eb5e57;
    text-align:center;
    padding-top: 50px;
}
#newsletter_form h1
{
    font-size:45px;
    color:white;
}
#newsletter_form #user_name
{
    margin-top:20px;
    width:20%;
    height:50px;
    padding-left:20px;
    border:none;
    font-size:17px;
}
#newsletter_form #email
{
    margin-top:20px;
    width:50%;
    height:50px;
    padding-left:20px;
    border:none;
    font-size:17px;
}
#newsletter_form input[type="submit"]
{
    margin-top:10px;
    width:35%;
    height:50px;
    border:none;
    background-color:#084B8A;
    color:white;
    font-size:22px;
    cursor:pointer;
}
#newsletter_form input[type="button"]
{
    margin-top:10px;
    width:35%;
    height:50px;
    border:none;
    background-color:#FE2E2E;
    color:white;
    font-size:22px;
    cursor:pointer;
}




/* BOOTSTRAP */

.btn-light {
    background-color:#eb5e57;
    color: white;
    border: none;
}


.carousel-item {

    width: auto;
    height: auto;
}

a:hover {
    text-decoration: none;
}

.card-deck{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.card-deck a {
    text-decoration: none;
    color: white;
}

div.editing {
    text-align: center;
    margin-top: 10%;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.blog-post-title a{
    text-decoration: none;
    color:white;
}




/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}



#menubtn1 .btn-secondary, #menubtn2 .btn-secondary, #menubtn3 .btn-secondary, #menubtn4 .btn-secondary   {
    background-color: transparent;
    border-color: transparent;
    font-size: 1em;
    vertical-align: 0;
}

#menubtn1 .btn, #menubtn2 .btn, #menubtn3 .btn, #menubtn4 .btn {
    padding: 0;
    display: inline;
}

#menubtn1 .btn:hover, #menubtn2 .btn:hover, #menubtn3 .btn:hover, #menubtn4 .btn:hover {
    color: #404369;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 1.1em;
    display: inline;
}

#menubtn1 .dropdown-menu.show, #menubtn2 .dropdown-menu.show, #menubtn3 .dropdown-menu.show, #menubtn4 .dropdown-menu.show {
    background-color: #404369 ;
    color: #eb5e57;
    font-size: 1em;
}

#menubtn1 .dropdown-item, #menubtn2 .dropdown-item, #menubtn3 .dropdown-item, #menubtn4 .dropdown-item {
    color: white;
}

#menubtn1 .dropdown-item:hover, #menubtn2 .dropdown-item:hover, #menubtn3 .dropdown-item:hover, #menubtn4 .dropdown-item:hover  {
    color: white;
    background-color: #eb5e57;
}



.header-img {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

#topbanner {
    margin-top: 3.5%;
}


#form .error {
    color: #eb5e57;
    font-style: oblique;
    font-size: 0.8em;
}


.blog-pagination {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 0.8em;


}

a.page-link {
    color: white;
    background-color: #404369;

}
.page-item.active .page-link {
    background-color: #eb5e57;
    border-color: white;
}



#mc_embed_signup_scroll {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#mc_embed_signup_scroll input[type="email"] {
    display:block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 5px;
    border-color: #404369;
}

#mc_embed_signup_scroll input[type="submit"] {
    height: auto;
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}


div.table-responsive {
    width:90%;
    margin-left: auto;
    margin-right:auto;

}

div.table-responsive tr, div.table-responsive th {
    text-align: center;
}


div.table-responsive tr {
    background-color: #eb5e57;
    color: #404369;

}

div.table-responsive tr:hover {
    background-color: white;
    color: #404369;
}

div.table-responsive .table-striped tbody tr:nth-of-type(2n+1){
    background-color: #404369;
    color:white;
}

div.table-responsive .table-striped tbody tr:nth-of-type(2n+1):hover {
    background-color: white;
    color: #eb5e57;

}

div.table-responsive td {
    vertical-align: center;
    padding: 1%;
    font-size: 1.2em;
}

.dashboard-btn {
    display:grid;
    grid-auto-flow: column;
    justify-content: space-around;

}
